
.h1 {
  text-align: center;
}

.title {
  color: hotpink;
  text-align: center;
}

.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.mat-header-cell.mat-sort-header-sorted {
  color: black;
}

agm-map {
  position: absolute;
  right: 100px;
  height: 600px;
  width: 1000px;

}

.filtert {
  width: 60%;
}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


.eerst{
  background-color: red;
  height: 100vh;
}

.tweede{
  background-color: blue;
}