<h1>{{ title }}</h1>


<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav class="example-sidenav">
    Jolly good!
  </mat-sidenav>
  <div class="example-sidenav-content">
    <button type="button" mat-button (click)="sidenav.open()">
      Open sidenav
    </button>
  </div>
</mat-sidenav-container>

<br>
<button (click)="getlocation()"> get address</button>

<agm-map [latitude]="lat" [zoom]="zoom" [longitude]="lng">
  <div *ngFor="let marker of markers">
      <agm-marker [latitude]="marker.lat" [longitude]="marker.lng" iconUrl="./assets/IceCreamCone_nobackground.png"></agm-marker >
  </div>
</agm-map>

