
.h1{
  text-align: center;
}
.title{
  color: hotpink;
  text-align: center;
}
.mat-sidenav-container{
  width: 35%;
  height: 50%;
}


agm-map{
  position: absolute;
  right: 100px;
  height: 600px;
  width:1000px;

}
