<div class="wrapper">
    <div class="insidewrap">
        <div class="titlediv">
            <h1 class="title">Request a driver</h1>
        </div>
        <div class="iform">
            <form>
                <input class="inputtext" id="Name" type="text" placeholder="Name" />
                <input class="inputtext" id="E-mail" type="text" placeholder="E-mail"/>
                <input class="inputtext" id="Adress" type="text" placeholder="Address"/>
                <button  id="SendRequest" class="btn btn-primary">Send request</button>

                {{Gegevens | json}}

                <br>


            </form>
        </div>
    </div>
</div>

