<div class="wrapper">
    <div class="insidewrap">
        <div class="titlediv">
            <h1 class="title">Request a driver</h1>
        </div>
        <div class="iform">
            <form>
                   
                        <input class="inputtext" type="text" placeholder="Name"/>
                    
                    
                        <input class="inputtext" type="text" placeholder="E-mail" />
                    
                   
                        <input class="inputtext" type="text" placeholder="Address" />
                    
                            <button (click)="sendReq" class="inputbutton">Send request</button>
                    
                    
            </form>
        </div>
    </div>
</div>